html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
}

#editor {
  flex-grow: 1;
  overflow: hidden;
}

.markup-1 {
  background-color: #00ffff2f;
}

.markup-2 {
    background-color: #fffb002f;
  }
  