.notes-listing {
    background:lightgray;
    min-height: 400px;
    overflow-y: scroll;
    overflow-wrap: break-word;
}

.note {
    list-style-type: none;
    border: solid #000;
    border-width: 0 2px;
    margin-left: -25px;
    margin-bottom: 15px;
}
