.header {
    padding-top: 15px;
    text-align: center;
}

.option {
   border: 1px outset black;
   background-color: white;
   height:50px;
   width: 100%;
}

.option:hover {
   background-color: grey;
   color:white;
}

.lightgray-background {
   background: lightgray;
}

.solid-black-border-right {
   border-right: thin solid black;
}
