* { padding: 0; margin: 0; }

html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.center {
    text-align: center;
}

.growth {
    flex-grow: 1;
}

.small-border {
  border: black 1px;
}

.lightgray-background {
  background: lightgray;
}